*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet');

body#loginBody {
    background: url(image/gambar2.png) no-repeat;
    background-size: cover;
    font-family: "Stack Sans Text";
}

.loginHeader {
    text-align: center;
    margin-bottom: 60px;
}

.loginHeader h1 {
    font-size: 100px;
    color: white;
    padding: 0px;
    margin: 0px;
}

.loginHeader p {
    color: white;
    display: inline-block;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.loginHeader p::after {
    content: '';
    display: block;
    height: 5px;
    background: white;
    margin: 0 auto;
}

.loginBody form {
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, .5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
}

.loginInput {
    margin-top: 30px;
}

.loginInput label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.loginInput input {
    height: 30px;
    width: 100%;
    border: 2px solid red; 
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

.loginButton {
    margin-top: 40px;
    text-align: center;
}

.loginButton button {
    font-size: 20px;
    padding: 10px 40px;
    background: blue;
    border: none;
    color: white;
}

.header {
    width: 100%;
    height: 20px;
    background: skyblue;
}

.banner {
    background: url('image/gambar1.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.homepageContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.bannerHeader h1 {
    font-size: 100px;
    color: white;
    line-height: 100%;
}

.bannerHeader p {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    line-height: 100%;
}

.bannerTagline {
    margin-top: ;
    font-size: 30px;   
}




